body {
  background-color:beige;
  color: black;
  
}


h1, h2, h4 {
  display: flex;
  justify-content: center;
  gap: 5px;
}


h3 {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

h5 {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
h6{
  display: flex;
  justify-content: left;
  margin-left: 100px;
  gap: 20px;
  margin-top: 20px;
}
p {
  display: flex;
  justify-content: center;
  font-size: large;
 
}

nav {
  display: flex;
  justify-content: left;
  margin-left: 100px;
  gap: 20px;
  margin-top: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
form {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}

input {
  width: 500px;
  height: 20px;
}
textarea {
  width: 800px;
  height: 50px
}
button {
  height:
  35px;
}

.postediting {
  display: flex;
  justify-content: center;
}


.cl-socialButtonsBlockButtonText {
  color: bisque;
  
  display: flex;
  justify-content: left;
  margin-left: 5px;
  height: 20px;
 
  
}

.cl-internal-16pk7q8 {

height: 200px;
width: 150px;

}
.cl-signIn-start {
  margin-left: 500px;
  
}
.cl-headerSubtitle {
  display: flex;
  justify-content: center;
  
  color: bisque;
  
  opacity: 80%;
}

.cl-internal-16pk7q8 {
  color: white;
  font-weight: 900;

  
}
.cl-card {
  color: red;
 
  display: flex;
  background-image: url(./photos/The-Big-Lebowski-hp-GQ-25Feb16_rex_b.webp);
  background-size:cover;
  opacity: 90%;
  font-size: large;
}

.cl-formFieldInput {
  height: 25px;
  color:white;
}


.cl-footerActionText {
  
  color: bisque;
  font-size: large;
  
  
  
}

.cl-footerActionLink {
  font-size: large;
  font-weight: 900;
  color: white;
  
}

.cl-formFieldLabel {
  color: white;
  
  margin-top: 120px;
  
}

.cl-formButtonPrimary {
 
  color: white;
  
  font-size: large;
  font-weight: 900;
}
.cl-headerTitle {
  color: red;
}

.cl-formButtonPrimary:hover{
  background-color: transparent;
}

.cl-userPreviewSecondaryIdentifier {
  color: red;
}

.path {
  color: red;
 
}

.cl-pageScrollBox {
  background-image: none;
}

.cl-navbarButton {
  color: white;
}

.cl-headerSubtitle {
  color: white;
  font-size: large;
}

.cl-profileSectionTitleText {
  color: white;
}

.cl-accordionTriggerButton {
  color: white;
  width: auto;
}

.cl-internal-l1ab9q {
  color: bisque;
}


.cl-userButtonPopoverActionButtonIconBox {
  color: white;
}

.cl-userButtonPopoverActionButtonText {
  color: white;
}